<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}">
    <title>{% block title %}{{ 'site.title'|trans }}{% endblock %}</title>
    <link href="{{ asset('assets/css/vendors_css.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/skin_color.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

<div class="wrapper">
    <div id="loader"></div>

    {% include 'partials/_header.html.twig' %}
    {% include 'partials/_sidebar.html.twig' %}

    <div class="content-wrapper">
        <div class="container-full">
            {% block body %}{% endblock %}
        </div>
    </div>

    {% include 'partials/_footer.html.twig' %}
    {% include 'partials/_control_sidebar.html.twig' %}
</div>

<script src="{{ asset('assets/js/vendors.min.js') }}"></script>
<script src="{{ asset('assets/js/pages/chat-popup.js') }}"></script>
<script src="{{ asset('assets/icons/feather-icons/feather.min.js') }}"></script>
<script src="{{ asset('assets/vendor_components/apexcharts-bundle/irregular-data-series.js') }}"></script>
<script src="{{ asset('assets/vendor_components/apexcharts-bundle/dist/apexcharts.js') }}"></script>
<script src="{{ asset('assets/vendor_components/jvectormap/lib2/jquery-jvectormap-2.0.2.min.js') }}"></script>
<script src="{{ asset('assets/vendor_components/jvectormap/lib2/jquery-jvectormap-world-mill-en.js') }}"></script>
<script src="{{ asset('assets/vendor_components/chart.js-master/Chart.min.js') }}"></script>
<script src="{{ asset('assets/js/template.js') }}"></script>
<script src="{{ asset('assets/js/dashboard.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>
</html>
